/* Import slackphoto styles for Astro integration */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

html {
  background-color: oklch(0.21 0.006 285.885);
}

body {
  font-family: "Fira Mono", monospace; /* Set body font to monospaced */
}

/* Define font-family classes */
.font-serif,
.font-sans,
.font-mono {
  font-family: "Fira Mono", monospace;
}
